  html {
    scroll-behavior: smooth;
  }

  .c {
    color: black;
    background-color: #1f4d8d;
    margin: 10px;
  }

  #sobremim,
  #experiencias,
  #contatoprogramacao {
    scroll-margin-top: 150px;
  }

  a {
    text-decoration: none;
  }

  #meunome {
    font-size: 30px;
  }

  header {
    border: #005F73 solid 1px;
    background-color: #005F73;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  footer {
    border: #005F73 solid 1px;
    background-color: #005F73;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .destaque {
    color: #ffffff;
  }

  .destaque:hover {
    color: #E9D8A6;
  }

  body {
    font-family: 'Poppins', normal;
  }

  #fotoperfil {
    border-radius: 50%;
  }

