/* esse '*' foi necessário para remover a margem do cabeçalho e do rodapé*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* porém, por conta disso, é preciso adicionar a margem do h1, h2 e etc. manualmente*/
h1,
h2,
h3 {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

html {
  scroll-behavior: smooth;
}

.c {
  color: black;
  background-color: #1f4d8d;
  margin: 10px;
}

#sobremim,
#experiencias,
#contatoprogramacao {
  scroll-margin-top: 150px;
}

a {
  text-decoration: none;
}

#meunome {
  font-size: 30px;
}

header {
  border: #005F73 solid 1px;
  background-color: #005F73;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

footer {
  border: #005F73 solid 1px;
  background-color: #005F73;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

.destaque {
  color: #ffffff;
}

.destaque:hover {
  color: #E9D8A6;
}

body {
  font-family: 'Poppins', normal;
}

#fotoperfil {
  border-radius: 50%;
}